@model UniversitySystem.ViewModels.TeacherViewModel
@{
    ViewBag.Title = "Save Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save Teacher</h2>

<form id="teacherForm" class="form-needs-validation" novalidate="" method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="teacherNameInput">Name:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="teacherNameInput" name="TeacherName" placeholder="Ex: John Doe" required/>
                <div id="teacherNameStatus"></div>
                <div class="invalid-feedback">
                    Please enter teacher's name
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="teacherAddressInput">Address:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="teacherAddressInput" name="TeacherAddress" placeholder="Ex: 41st Street, DTown" required />
                <div id="teacherAddressStatus"></div>
                <div class="invalid-feedback">
                    Please enter teacher's address
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="teacherEmailInput">Email:</label>
            <div class="input-group">
                <input type="email" class="form-control" id="teacherEmailInput" name="TeacherEmail" placeholder="Ex: example.com" required />
                <div id="teacherEmailStatus"></div>
                <div class="invalid-feedback">
                    Please enter teacher's email
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="teacherContactInput">Contact Number:</label>
            <div class="input-group">
                <input type="tel" class="form-control" id="teacherContactInput" name="TeacherContactNumber" placeholder="Ex: 1-(555)-555-5555" required />
                <div id="teacherContactStatus"></div>
                <div class="invalid-feedback">
                    Please enter teacher's contact number
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="selectedDesignationId">Designation:</label>
        <select class="form-control" id="selectedDesignationId" name="SelectedDesignationId" required></select>
        <div id="teacherDesignationStatus"></div>
        <div class="invalid-feedback">
            Please select a designation.
        </div>
    </div>
    <div class="form-group">
        <label for="selectedDepartmentId">Department</label>
        <select class="form-control" id="selectedDepartmentId" name="SelectedDepartmentId" required></select>
        <div id="teacherDepartmentStatus"></div>
        <div class="invalid-feedback">
            Please select a department.
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="teacherCreditInput">Credits to be Taken:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="teacherCreditInput" placeholder="Ex: 2.5" name="TeacherCredits" required />
                <div id="teacherCreditStatus"></div>
                <div class="invalid-feedback">
                    Please enter credits to be taken.
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    
    <script>
        $(document).ready(function () {
            populateDesignationDropdown();
            populateDepartmentDropdown();
        });

        function populateDesignationDropdown() {
            var designationDropdown = $("#selectedDesignationId");
            designationDropdown.empty();
            var designations = @Html.Raw(Json.Encode(Model.Designations));

            $.each(designations,
                function() {
                    designationDropdown.append($('<option/>',
                        {
                            value: this.Value,
                            html: this.Text
                        }));
                });
        }

        function populateDepartmentDropdown() {
            $("#selectedDesignationId").change(function() {
                var departmentDropdown = $("#selectedDepartmentId");
                departmentDropdown.empty();
                var departments = @Html.Raw(Json.Encode(Model.Departments));
                if ($(this).val() > 0) {
                    $.each(departments,
                        function() {
                            departmentDropdown.append($('<option/>',
                                {
                                    value: this.Value,
                                    html: this.Text
                                }));
                        });
                } else {
                    departmentDropdown.append($('<option/>',
                        {
                            //value: dept.Value,
                            html: "--Select Department--"
                        }));
                }
            });
        }
    </script>
}
